{layout="layouts/_super-hero" include_jquery="yes" class="__page-registrant"}

<div class="hero-app">
  <div class="hero-app-header">
    <div class="container">
      <div class="brand">
        <a href="#">
          <img src="/assets/img/logo.png" alt="FedEx">
        </a>
      </div>
    </div>
  </div>
	<div class="hero-app--register">
		<div class="container">
      {embed="partials/registration-form"}
    </div>
	</div>
  <div class="hero-app-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <p class="copyright">
            Este sitio está protegido por las leyes de derechos de auto y marcas registradas de los Estados Unidos e internacionales. Todos los derechos reservados.© FedEx 1995-2014
          </p>
        </div>
        <div class="col-sm-7">
          <nav class="copyright-links pull-right">
            <a href="#">Página principal global</a>
            <span class="divider">|</span>
            <a href="#">Términos de uso de fedex.com</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>