{layout="layouts/_super-hero" include_jquery="yes" class="__page-registrant"}

<div class="app">

  <div class="app-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="brand">
            <a href="#">
              <img src="/assets/img/logo.png" alt="FedEx">
            </a>
          </div>
        </div>
      </div>
      
      <div class="hero">
        <div class="ribbon animated bounceInLeft">
          <div class="bar"></div>
          <div class="emblem">
            <img src="/assets/img/vender_es_ganar-logo.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-sm-offset-5">
            <div class="banner animated zoomInUp">
              <img src="/assets/img/defender.png" class="hidden-xs">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
	
  <div class="app--content">
		<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="register">
            <h2>Registro</h2>
            {embed="partials/registration-form"}
          </div>
          
        </div>
      </div>
    </div>
	</div>

</div>