.flash {
	margin: 2em 0;
}

.app--flash {
	.alert {
		margin: 0 !important;
		border-left: none;
		border-right: none;
		border-top: none;
		border-radius: 0;
		text-align: center;
		padding-top: 28px;
		padding-bottom: 28px;
		a, strong {
			font-family: $font-family-base;
			font-weight: normal;
		}
	}
}