{exp:channel:form 
  channel="registrant" 
  logged_out_member_id="5" 
  id="registerForm" 
  class="register-form" 
  return="registrant/ENTRY_ID" 
  entry_id="{segment_2}"
  json="yes"
}
  <input type="hidden" name="title" value="{{fullName}}" class="title-field">
  <div class="form-group">
    <label for="fullName" class="form-label">Nombre Completo</label>
    <input type="text" name="registrant_full_name" value="" class="form-control" ng-model="fullName" required data-bv-message="Por favor proporciona tu nombre completo">
  </div>
  
  <div class="form-group">
    <label for="employees" class="form-label">Número de Empleado</label>
    <input type="text" name="registrant_employee_num" id="employee" value="" class="form-control" required data-bv-message="Por favor proporciona tu número de empleado">
  </div>
  
  <div class="form-group">
    <label for="tsrAE" class="form-label">TSR o AE</label>
    <select name="registrant_tsr_ae" id="tsrAE" class="form-control" required data-bv-message="Por favor, elige entre TSR o AE">
      <option value="">Elige entre TSR o AE</option>
      <option value="TSR">TSR</option>
      <option value="AE">AE</option>
    </select>
  </div>

  <div class="form-group">
    <label for="accountName" class="form-label">Nombre de la Compañía</label>
    <input type="text" name="registrant_company_name" id="companyName" value="" class="form-control" required data-bv-message="Por favor proporciona el nombre de la empresa">
  </div>

  <div class="form-group">
    <label for="state" class="form-label">Estado de la Compañía</label>
    <select class="form-control form-control-select" id="state" name="registrant_state" required data-bv-message="Por favor proporciona el estado de la empresa">
      <option value="">Estados</option>
      <option value="">Aguascalientes</option>
      <option value="">Baja California</option>
      <option value="">Baja California Sur </option>
      <option value="">Campeche</option>
      <option value="">Coahuila </option>
      <option value="">Colima </option>
      <option value="">Chiapas </option>
      <option value="">Chihuahua </option>
      <option value="">Distrito Federal </option>
      <option value="">Durango </option>
      <option value="">Guanajuato </option>
      <option value="">Guerrero </option>
      <option value="">Hidalgo </option>
      <option value="">Jalisco </option>
      <option value="">Estado de México </option>
      <option value="">Michoacán </option>
      <option value="">Morelos </option>
      <option value="">Nayarit</option>
      <option value="">Nuevo León </option>
      <option value="">Oaxaca </option>
      <option value="">Puebla </option>
      <option value="">Querétaro</option>
      <option value="">Quintana Roo</option>
      <option value="">San Luis Potosí</option>
      <option value="">Sinaloa </option>
      <option value="">Sonora</option>
      <option value="">Tabasco</option>
      <option value="">Tamaulipas </option>
      <option value="">Tlaxcala</option>
      <option value="">Veracruz</option>
      <option value="">Yucatán </option>
      <option value="">Zacatecas</option>
    </select>
  </div>

  <div class="form-group">
    <label for="accountReason" class="form-label">Razón Social de la Cuenta</label>
    <input type="text" name="registrant_account_reason" id="accountReason" value="" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="accountType" class="form-label">Cliente Nacional o Internacional</label>
    <select name="registrant_account_type" id="accountType" class="form-control form-control-select" required data-bv-message="Por favor, elige entre nacional o internacional">
      <option value="International">Internacional</option>
      <option value="Domestic">Doméstica</option>
    </select>
  </div>
  
  <!-- <div class="form-group">
    <label for="accountNumber" class="form-label">No. Cuenta</label>
    <input type="text" name="registrant_account_number" id="accountNumber" value="" class="form-control">
  </div> -->
  
  <div class="form-group register-button">
    <button type="submit" class="btn btn-primary btn-block btn-lg">Registra</button>
  </div>
{/exp:channel:form}